.drum-pad {
  border-radius: 10px;
  background: #282828;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 10px;
}

.pressed {
  box-shadow: rgba(4, 235, 4, 0.2) 5px 5px 10px;
}
